/*
    Created by: Thanh Nguyen - 1002020713
    Created on: Oct 30,2023
    Updated on: Oct 30,2023
    Project: Personal Portfolio
*/

* {
    box-sizing: border-box;
    position: relative;
}

@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&family=Playfair:opsz@5..1200&family=Wix+Madefor+Display&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Tienne&display=swap');


body {
    padding: 0;
    margin: 0;
    font-size: 1rem;
    line-height: 1.25em;
    font-weight: 400;
    font-family: 'Arial', sans-serif;
    color: var(--font-color);
}

:root {
    /* Grid */
    --number-of-columns:12;
    --grid-width: calc(100% / var(--number-of-columns));
    --col-1: calc(var(--grid-width) * 1);
    --col-2: calc(var(--grid-width) * 2);
    --col-3: calc(var(--grid-width) * 3);
    --col-4: calc(var(--grid-width) * 4);
    --col-5: calc(var(--grid-width) * 5);
    --col-6: calc(var(--grid-width) * 6);
    --col-7: calc(var(--grid-width) * 7);
    --col-8: calc(var(--grid-width) * 8);
    --col-9: calc(var(--grid-width) * 9);
    --col-10: calc(var(--grid-width) * 10);
    --col-11: calc(var(--grid-width) * 11);
    --col-12: calc(var(--grid-width) * 12);

    /* Typography */
    --base-font-size: 15px;
    --base-scale: 1.25;
    --base-line-height: calc(0.8em * var(--base-scale));
    --p: 1.618rem;
    --h4-font-size: 1rem;
    --h3-font-size: calc(var(--h4-font-size) * var(--base-scale));
    --h2-font-size: calc(var(--h3-font-size) * var(--base-scale));
    --h1-font-size: calc(var(--h2-font-size) * var(--base-scale));

    /* Branding */
    --primary:         	hsl(90, 22%, 84%);
    --primary-hover:    hsl(90, 22%, 70%);;
    --secondary:        hsl(11, 74%, 56%);
    --secondary-hover: 	hsl(6, 100%, 89%);
    --secondary-blurred:hsl(6, 80%, 39%);
    --tertiary: 	    hsl(210, 100%, 62%);
    --tertiary-hover: 	hsl(6, 100%, 70%);
    --footer:           #3C5423;
    --font-color:       #1d1d1d;

    --gray-0: #222222;
    --gray-1: #666666;
    --gray-2: #D0D0D0;
    --gray-3: #EBEBEB;
    --white:  white;
}

html {
    font-size: var(--base-font-size);
}

h1, h2, h3 ,h4 ,h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: 'Tienne', serif;
    line-height: var(--base-line-height);
    font-weight: 700;
    margin-bottom: var(--base-line-height);
}

h1, .h1 {
    font-size: var(--h1-font-size);
}

h2, .h2 {
    font-size: var(--h2-font-size);
    
}

h3, .h3 {
    font-size: var(--h3-font-size);
}

h4, .h4 {
    font-size: var(--h4-font-size);
}


.container {
    /*make the content to the center */
   margin-left: auto;
   margin-right: auto;
   padding: 0 2rem;
   max-width: 100%;
   margin-bottom: 1.25rem;
   align-content: space-around;
}

a{
    color: var(--gray-0);
    text-decoration: none;
}
a:hover{
    color: var(--secondary);
}
p {
    margin-bottom: var(--base-line-height);
}

/* Special Classes */
.w-14 {
    width: 14rem;
}

hr.divider{
    border-top: 3px solid var(--secondary);
    border-radius: 5px;
    width: 50px;
    margin-bottom: 2rem;
}

hr.long-divider{
    border-top: 0.5px solid var(--gray-3);
    border-radius: 5px;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

hr.left-divider{
    border-top: 2px solid var(--secondary);
    border-radius: 5px;
    width: 50px;
    margin-bottom: 2rem;
    margin-left: 0;
}
/* End of Special classes */

.POC > a{
    text-decoration: none;
    color: var(--gray-0);
}
.POC > a:hover{
    color: var(--primary);
}
/* TASK: Paste your grid system here */
.container-fluid,
.container {
    width: 100%;
    padding-left: 1rem;
    padding-right: 1rem;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1.25rem;
    margin-top: 2rem;
}

.row {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: flex-start;
    align-content: center;
    text-align: center;
    margin-left: -1rem;
    margin-right: -1rem;
    margin-bottom: 3rem;
    /* border: 1px solid black; */
}
.partner-row {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    text-align: center;
    /* height: 500px; */
}

.partner-row img{
    max-width: 50%;
    margin-bottom: 5rem;
}

.event-row{
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
    /* padding-left: 2rem; */
    margin-bottom: 3rem;
    /* border: 1px black solid; */
}
.reverse{
    flex-flow: row-reverse wrap;
}
.footer-row {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
    /* text-align: center; */
    /* margin-left: -1rem; */
    /* margin-right: -1rem;/ */
    /* border: 1px solid black; */
}
[class^="col-"] {
    padding: 0 1rem;
    width: 100%;
    max-width: 100%;
}

.menu{
    float: right;
    margin: 2rem 0 auto auto;
    width: 30%;
    height: 30%;
}
.right-padding{
    display: flex;
    flex-direction: row-reverse;
}
/* IMAGES */
img {
    max-width: 100%;
}

.image,
.hireme-image{
    /* flex: 10 5 50%; */
    /* object-position: center; */
    max-width: 100%;
    aspect-ratio: 1 ;
    /* margin-top: 3rem; */
    margin-bottom: -3rem;
}

.aboutus-image{
    flex: 0 0 100%;
    max-width: 50%;
    aspect-ratio: 1 ;
    margin-top: 3rem;
   
    /* margin-bottom: -3rem; */
    /* margin-left: 4rem ; */
}

.aboutus-image img{
    /* background-color: var(--gray-3); */
    position: absolute;
    /* padding: 10px; */
    /* top: 2px;
    bottom: 0;
    right: 0;
    left: 0; */
    width: 80%;
    /* height: 80%; */
    object-fit: cover;
}

.hireme-image img,
.image img{
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100%;
    height: 80%;
    object-fit: cover;
}

.aboutus-project{
  position: relative; 
  height: 20vh;
  width: 100%;
  display: flex;
  align-items: center;
  background-image: url('../images/aboutus.jpg');
  background-size: cover;
  background-position-y: 50%;
  opacity: 0.4;
}

.individual-project{
  position: relative; 
  height: 30vh;
  width: 100%;
  display: flex;
  align-items: center;
  background-image: url('../images/getinvolved.jpg');
  background-size: cover;
  background-position-y: 60%;
  opacity: 0.4;
} 

.event-project{
    position: relative; 
    height: 20vh;
    width: 100%;
    display: flex;
    align-items: center;
    background-image: url('../images/event.jpg');
    background-size: cover;
    background-position-y: 35%;
    opacity: 0.4;
  }

.thrift-project{
    position: relative; 
    height: 20vh;
    width: 100%;
    display: flex;
    align-items: center;
    background-image: url('../images/thrift-cover.jpg');
    background-size: cover;
    background-position-y: 70%;
    opacity: 0.4;
}
.news-project{
    position: relative; 
    height: 20vh;
    width: 100%;
    display: flex;
    align-items: center;
    background-image: url('../images/news-cover.jpg');
    background-size: cover;
    background-position-y: 35%;
    opacity: 0.4;
  }
  .program-project{
    position: relative; 
    height: 20vh;
    width: 100%;
    display: flex;
    align-items: center;
    background-image: url('../images/program.jpg');
    background-size: cover;
    background-position-y: 65%;
    opacity: 0.4;
  }

.partner-project{
    position: relative; 
    height: 20vh;
    width: 100%;
    display: flex;
    align-items: center;
    background-image: url('../images/partner.jpg');
    background-size: cover;
    background-position-y: 75%;
    opacity: 0.4;
  }

  .weekend-project{
    position: relative; 
    height: 20vh;
    width: 100%;
    display: flex;
    align-items: center;
    background-image: url('../images/weekendforgood1.jpg');
    background-size: cover;
    background-position-y: 50%;
    opacity: 0.4;
  }
  .semester-project{
    position: relative; 
    height: 20vh;
    width: 100%;
    display: flex;
    align-items: center;
    background-image: url('../images/semesterservice.jpg');
    background-size: cover;
    background-position-y: 75%;
    opacity: 0.4;
  }
  .younglead-project{
    position: relative; 
    height: 20vh;
    width: 100%;
    display: flex;
    align-items: center;
    background-image: url('../images/young-leading.jpg');
    background-size: cover;
    background-position-y: 65%;
    opacity: 0.4;
  }
  .donate-project{
    position: relative; 
    height: 30vh;
    width: 100%;
    display: flex;
    align-items: center;
    background-image: url('../images/donate.jpeg');
    background-size: cover;
    background-position-y: 60%;
    opacity: 0.4;
  }
.page-title,
.individual-content{
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--gray-0);
    /* font-size: larger; */
}

.round-image {
    border-radius: 50%;
    overflow: hidden;
    aspect-ratio: 1;
    max-width: 50%;
}

.round-image img {
    position: absolute;
    width: 50%;
    height: 50%;
    object-fit: cover;
    object-position: center;
}
.volunteer-match{
    max-width: 80%;
}
.brands{
    width: 30%;
}
.brands-2{
    width: 20%;
}
/* END OF IMAGES */

/* Blockquotes */
blockquote{
    /* font-size: var(--h3-font-size); */
    text-align: center;
}
blockquote p:first-of-type::before{
    content: open-quote;
}
/* pseudo-selector */
blockquote p:last-of-type::after{
    content: close-quote;
}

.author{
    font-size: 1rem;
    font-weight: bold;
    text-align: center;
}

.author:before{
    content: '\2014';
    margin-right: calc(0.25rem * var(--base-scale));
}
/* End of Blockquotes */

/* Button */
.project-button{
    margin-top: 4rem;
    margin-bottom: 3rem;
    text-align: center;
}

.button {
    color: var(--secondary);
    padding: 10px 20px;
    text-decoration: none;
    display: inline-block;
    font-size: 80%;
    font-weight: bold;
    border: solid 2px var(--secondary);
    border-radius: 5px;
    margin-bottom: 2rem;
    cursor: pointer;
}
.second-button{
    color: var(--gray-0);
    padding: 10px 20px;
    text-decoration: none;
    display: inline-block;
    font-size: 80%;
    /* font-weight: bold; */
    border: solid 1px var(--gray-0);
    border-radius: 5px;
    margin-bottom: 2rem;
    cursor: pointer;
}
footer .button{
    background-color: var(--white);
    color: var(--footer);
    border: 1.5px solid var(--footer);
    margin-left: 1rem;
}
.button:hover{
    color: var(--white);
    background-color: var(--secondary);
    border: solid 2px var(--secondary);
}

.second-button:hover{color: var(--white);
    background-color: var(--gray-1);
    border: solid 1px var(--gray);
}

footer .button:hover{
    background-color: var(--footer);
    border: solid 1.5px var(--footer)
}

.solidbutton {
    background-color: black;
    color: #fff;
    padding: 0.8rem 2rem;
    text-decoration: none;
    display: inline-block;
    font-size: 100%;
    font-weight: bold;
    margin-bottom: 3rem;
    cursor: pointer;
}

.solidbutton:hover {
    color: var(--gray-0);
    background-color: var(--secondary);
    
}

.bn632-hover {
    width: 160px;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
    margin: 20px;
    height: 55px;
    text-align:center;
    border: none;
    background-size: 300% 100%;
    border-radius: 5px;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
  }
  
  .bn632-hover:hover {
    background-position: 100% 0;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
  }
  
  .bn632-hover:focus {
    outline: none;
  }
  
  .bn632-hover.bn28 {
    background-image: linear-gradient(
      to right,
      #eb3941,
      #f15e64,
      #e14e53,
      #e2373f
    );
    box-shadow: 0 5px 15px rgba(242, 97, 103, 0.4);
  }
/* end of button */
ul{
    padding-left: 0rem;
    list-style-type:none;
    /* margin-bottom: 1rem; */
} 


ul.inline{
    list-style-type: none;
    padding-left: 0;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
    gap: var(--base-line-height); 
    /* margin-bottom: var(--base-line-height); */
}
li a{
    text-decoration: none;
    color: black;
    /* margin-bottom: var(--base-line-height); */
}

ul > li{padding-bottom: 1rem;}
/* ul > li:last-of-type{padding-bottom: 0;} */

/* Navigation Styles */
.navbar {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    align-content: flex-start;
    /* padding: 1rem; */ 
    padding-left: 1rem;
}

.navbar-brand {
    display: block;
    overflow: hidden;
    background: url(../images/LOGO.png) no-repeat center/contain transparent;
    width: 15rem;
    height: 5rem;
    text-indent: -9999px;
    text-decoration: none;
    padding-left: 1rem;
}

.navbar-toggler {
    background-color: var(--secondary);
    border: 0 none;
    color: white;
    width: 2rem;
    height: 2rem;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    cursor: pointer;
    margin-right: 1rem;
}

.navigation {
    flex: 0 0 100%;
}

.navigation.collapse .navbar-nav {
    display: none;
}

.navbar-nav {
    list-style-type: none;
    padding-left: 2rem;
    padding-right: 2rem;
}

.navbar-nav li > a {
    color: var(--gray-0);
    display: block;
    overflow: hidden;
    padding: calc((1em / var(--base-scale)) / var(--base-scale)) calc(1em / var(--base-scale));
    text-decoration: none;
    font-family: 'Tienne', serif;
    border-bottom: 2px solid transparent;
}

.navbar-nav li.active > a {
    /* background-color: var(--primary); */
    color: var(--secondary );
    /* border-radius: 5px; */
    padding-top: 5px;
    padding-bottom: 5px;
    font-weight: bold;
}

.navbar-nav li.donate > a { 
    background-color: var(--secondary);
    color: var(--white);
    border-radius: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.navbar-nav li > a:hover {
    /* color: var(--secondary); */
    /* font-weight: bold ; */
    border-bottom: 1px solid var(--secondary)
}
.navbar-nav li.donate > a:hover{
    color: var(--gray-0)
}
.dropdown-toggle::after {
    content: "\f0d8";
    font-family: "FontAwesome";
    font-weight: 400;
    margin-left: var(--base-line-height);
}

.collapse .dropdown-toggle::after {
    content: "\f0d7";
}

.dropdown.collapse .dropdown-menu {
    display: none;
}

.dropdown-menu {
    background-color: var(--white);
    font-family: 'Tienne';
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
    z-index: 1;
    border-radius: 5px;
}

.dropdown-menu > a {
    flex: 1 0 100%;
    color: var(--gray-0);
    padding: calc((1em / var(--base-scale)) / var(--base-scale)) calc(1em / var(--base-scale));
    text-decoration: none;
}

.dropdown-menu > a:hover {
    /* background-color: var(--primary); */
    border-radius: 5px;
    color: var(--secondary);
    font-weight: bold;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
    white-space: nowrap;
    border-width: 0;
}
/* End Navigation */

/* Forms */
fieldset {
    padding: var(--base-line-height);
    border: 1px solid var(--primary);
    margin-bottom: var(--base-line-height);
}

fieldset legend {
    color: var(--primary);
}

.form-group {
    margin-bottom: var(--base-line-height);
}

fieldset .form-group:last-of-type {
    margin-bottom: 0;
}

.form-group label {
    font-weight: bold;
}

.form-control,
.form-check-input {
    accent-color: var(--primary);
}

input,
select,
textarea {
    font-family: inherit;
    font-size: 1rem;
    line-height: var(--base-line-height);
    padding: calc((1em / var(--base-scale)) / var(--base-scale) / var(--base-scale)) calc(1em / var(--base-scale) / var(--base-scale));
    border: 1px solid var(--gray-0);
    color: var(--font-color);
    border-radius: 5px;
}

input.form-control {
    width: 100%;
    max-width: 100%;
}

textarea {
    width: 100%;
    max-width: 100%;
    min-height: calc(4 * var(--base-line-height));
}

.form-control:focus {
    outline: var(--primary) solid 2px;
    outline-offset: 2px;
}

.form-check-input:checked {
    box-shadow: 0 0 4px 4px var(--secondary-blurred);
}

.form-control:disabled,
.form-control:hover:disabled,
input:disabled,
input:hover:disabled {
    background-color: var(--gray-3);
    color: var(--gray-2);
    cursor: not-allowed;
}

/* Carousel Styles */
.carousel {
    position: relative;
}

.carousel-inner {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.carousel-item {
    position: relative;
    display: none;
    float: left;
    width: 100%;
    margin-right: -100%;
    backface-visibility: hidden;
    transition: transform 3s ease-in-out;
    /* transform: rotate(180deg); */
    padding: 2rem;
    background-color: var(--white);
}

.carousel-item.active {
    display: block;
}
/* select all button start with carousel-control */
button[class^=carousel-control] { 
    cursor: pointer;
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 1;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    width: 5rem;
    padding: 0;
    color: black;
    background-color: transparent;
    border: 0;
    text-align: center;
    /* opacity: 0.5; */
    transition: opacity 0.15s ease;
    font-size: 1rem;
}

.carousel-control-next {
    right: 0;
}

.carousel-control-prev {
    left: 0;
}

button[class^=carousel-control]:hover {
    color: var(--primary);
    outline: 0;
    opacity: 0.9;
}

/* There's no need to add this if you already have it on your Navigation CSS */
.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
    white-space: nowrap;
    border-width: 0;
}
/* End of Carousel Styles */
/* Footer Styles */
footer {
    margin-top: 1rem;
    padding-top: 1rem;
    padding-bottom:0rem;
    font-size: calc(1.2rem / var(--base-scale));
    background-color: var(--primary);
}

footer h3,
footer h4 {
    margin-bottom: calc(1rem / var(--base-scale));
    margin-top: 2rem;
}
footer .logo{
    margin-top: 1rem;
    width: 8rem;
}

footer .footer-nav {
    margin: 0;
}

footer .footer-nav a {
    display: block;
    overflow: hidden;
    color: var(--gray-0);
    text-decoration: none;
    border-bottom: 2px solid transparent;
    margin-bottom: -0.5rem;
}

footer .footer-nav a:hover {
    color: var(--primary-hover);
    border-bottom-color: var(--primary-hover);
}

footer .form-group label {
    margin-top: 0;
    margin-bottom: 0.5rem;
}

footer .copyright {
    background-color: var(--gray-3);
    text-align: center;
    padding-bottom: 0.1rem; 
    padding-top: 0.1rem;
    font-style: italic;
    /* font-weight: bold; */
    font-size: var(--base-font-size);
    margin-top: 3rem;
}

/* footer p, */
footer .social-media {
    font-size: calc(1.3 * var(--base-font-size));
    /* border: 1px solid black; */
    margin-left: 1rem;
}

footer .social-media a {
    display: block;
    overflow: hidden;
    color: var(--gray-0);
}

footer ul{
    list-style-type:none;
    /* padding-left: 0; */
    
 }

footer .social-media li > a:hover{
    color: var(--primary-hover);
}
/* End of Footer */


/* GRID SYSTEM */
.col-xs-1{
    max-width: var(--col-1);
    flex: 0 0 var(--col-1); 
}

.col-xs-2{
    max-width: var(--col-2);
    flex: 0 0 var(--col-2);
}

.col-xs-3{
    max-width: var(--col-3);
    flex: 0 0 var(--col-3); 
}
.col-xs-4{
    max-width: var(--col-4);
    flex: 0 0 var(--col-4); 
}

.col-xs-5{
    max-width: var(--col-5);
    flex: 0 0 var(--col-5); 
}

.col-xs-6{
    max-width: var(--col-6);
    flex: 0 0 var(--col-6); 
}

.col-xs-7{
    max-width: var(--col-7);
    flex: 0 0 var(--col-7); 
}

.col-xs-8{
    max-width: var(--col-8);
    flex: 0 0 var(--col-8); 
}

.col-xs-9{
    max-width: var(--col-9);
    flex: 0 0 var(--col-9); 
}

.col-xs-10{
    max-width: var(--col-10);
    flex: 0 0 var(--col-10); 
}

.col-xs-11{
    max-width: var(--col-11);
    flex: 0 0 var(--col-11); 
}

.col-xs-12{
    max-width: var(--col-12);
    flex: 0 0 var(--col-12); 
}

/* Styles for 'col-md-...' grid */
@media screen and (min-width: 768px){
    
    .container{max-width: 768px;
    }
    .partner-row {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;
        align-items: center;
        align-content: stretch;
    }
    .partner-row img{
        margin-bottom: 2rem;
    }
    .aboutus-project
    .individual-project{
        height: 25vh;
    }

    .navbar-toggler {
        display: none;
    }

    .navigation {
        flex: 0 0 auto;
    }

    .navigation.collapse .navbar-nav,
    .navbar-nav {
        display: flex;
        flex-flow: row wrap;
        justify-content: flex-end;
        align-items: baseline;
        align-content: center;
    }

    .dropdown-menu {
        position: absolute;
    }
    .navbar-nav li.donate > a { margin-left: 1rem;}
    footer .copyright { 
        text-align: unset;
    }

    footer .social-media {
        justify-content: flex-start;
    }
    
    .skill-row {
        display: flex;
        flex-flow: column wrap;
        justify-content: flex-start;
        align-items: flex-start;
        align-content: space-around;
        margin-left: -1rem;
        margin-right: -1rem;
        max-height: 1100px;
        width: 100%;
    }

    .threshold{
        display: flex;
        flex-flow: row wrap;
        justify-content: flex-start;
        align-items: flex-start;
        align-content: space-around;
        margin-left: -1rem;
        margin-right: -1rem;
        height: 700px;
    }

    .col-md-1{
        max-width: var(--col-1);
        flex: 0 0 var(--col-1); /*space inside col*/
     }
    
    .col-md-2{
        max-width: var(--col-2);
        flex: 0 0 var(--col-2); /*space inside col*/
    }

    .col-md-3{
        max-width: var(--col-3);
        flex: 0 0 var(--col-3); /*space inside col*/
    }
    .col-md-4{
        max-width: var(--col-4);
        flex: 0 0 var(--col-4); 
    }
    
    .col-md-5{
        max-width: var(--col-5);
        flex: 0 0 var(--col-5); 
    }
    
    .col-md-6{
        max-width: var(--col-6);
        flex: 0 0 var(--col-6); 
    }
    .col-md-7{
        max-width: var(--col-7);
        flex: 0 0 var(--col-7); 
    }
    
    .col-md-8{
        max-width: var(--col-8);
        flex: 0 0 var(--col-8); 
    }
    
    .col-md-9{
        max-width: var(--col-9);
        flex: 0 0 var(--col-9); 
    }
    
    .col-md-10{
        max-width: var(--col-10);
        flex: 0 0 var(--col-10); 
    }
    
    .col-md-11{
        max-width: var(--col-11);
        flex: 0 0 var(--col-11); 
    }

    .col-md-12{
        max-width: var(--col-12);
        flex: 0 0 var(--col-12); 
    }
}

/* Styles for 'col-lg-...' grid */
@media screen and (min-width: 992px){
    .container{max-width: 992px;}
    /* .skill-row {
        display: flex;
        flex-flow: column wrap;
        justify-content: flex-start;
        align-items: flex-start;
        align-content: space-around;
        margin-left: -1rem;
        margin-right: -1rem;
        height: 900px;
    } */
    .partner-row {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;
        align-items: center;
        align-content: stretch;
    }
    .partner-row img{
        max-width: 100%;
        margin-bottom: 3rem;
    }
    .threshold{
        display: flex;
        flex-flow: row wrap;
        justify-content: flex-start;
        align-items: flex-start;
        align-content: space-around;
        margin-left: -1rem;
        margin-right: -1rem;
        height: 400px;
    }
    .navbar-nav li.donate > a { margin-left: 1rem;}

    .news-project,
    .thrift-project,
    .event-project,
    .aboutus-project,
    .individual-project{
        height: 25vh;
    }

   .page-title {
        padding-left: 5rem;
        padding-right: 5rem;
        font-size: larger;
    }

    .aboutus-image img{
        position: absolute;
        padding: 10px;
        width: 90%;
        object-fit: cover;
    }

    .round-image {max-width: 70%;}
    
    .col-lg-1{
        max-width: var(--col-1);
        flex: 0 0 var(--col-1); /*space inside col*/
    }
    
    .col-lg-2{
        max-width: var(--col-2);
        flex: 0 0 var(--col-2); /*space inside col*/
    }

    .col-lg-3{
        max-width: var(--col-3);
        flex: 0 0 var(--col-3); /*space inside col*/
    }
    .col-lg-4{
        max-width: var(--col-4);
        flex: 0 0 var(--col-4); 
    }
    
    .col-lg-5{
        max-width: var(--col-5);
        flex: 0 0 var(--col-5); 
    }
    
    .col-lg-6{
        max-width: var(--col-6);
        flex: 0 0 var(--col-6); 
    }

    .col-lg-7{
        max-width: var(--col-7);
        flex: 0 0 var(--col-7); 
    }
    
    .col-lg-8{
        max-width: var(--col-8);
        flex: 0 0 var(--col-8); 
    }
    
    .col-lg-9{
        max-width: var(--col-9);
        flex: 0 0 var(--col-9); 
    }
    
    .col-lg-10{
        max-width: var(--col-10);
        flex: 0 0 var(--col-10); 
    }
    
    .col-lg-11{
        max-width: var(--col-11);
        flex: 0 0 var(--col-11); 
    }
    .col-lg-12{
        max-width: var(--col-12);
        flex: 0 0 var(--col-12); 
    }
}
/*

    * Window size styles
    * Do not edit or delete this from examples
*/
#windowSize {
    padding: 0.25rem 0.5rem;
    background-color: rgba(0,0,0,0.3);
    color: white;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);
    user-select: none;
    z-index: 10;
}
/* End of Window size styles */